body {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-size: 14pt;
  text-rendering: optimizeLegibility;
  color: black;
  padding-bottom: 5rem;
}

a {
  text-decoration: none;
  color: rgb(0, 136, 204);
}

h1 {
  font-family: Times, Times New Roman, serif;
  font-size: 3rem;
}

h2 {
  font-family: Times, Times New Roman, serif;
  font-size: 2rem;
}

#header {
  font-family: Times, Times New Roman, serif;
  margin: auto;
  width: 40rem;
  border: none;
  border-bottom: thin dashed gray;
}

#staples {
  color: #ca0813;
  font-size: 12pt;
  margin: 0 0 0 2rem;
  text-align: left;
}

#sparx {
  color: black;
  font-size: 65pt;
  margin: -0.7rem 0 0 2rem;
  text-align: left;
}

#homepage #staples {
  font-size: 12pt;
  margin: 4rem 0 0 2rem;
}

#homepage #sparx {
  font-size: 70pt;
  margin: 0 0 0 2rem;
}

#content {
  text-align: left;
  margin: 1rem auto;
  max-width: 40rem;
}
