body {
  font-family: Times, Times New Roman, serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 14pt;
  color: #3e3e3e;
  background:url(theme/footer-bg.png?197114) repeat;
}

a {
  text-decoration: none;
  color: rgb(0, 136, 204);
}

h1 {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-size: 3rem;
}

h2 {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-size: 2rem;
}

#tagline {
  font-style: italic;
  font-size: 20pt;
  margin: auto;
  width: 23em;
  margin-bottom: 1em;
}

#header {
  margin: auto;
  width: 80%;
  border: none;
  border-bottom: dotted gray;
}

#staples {
  color: #ca0813;
  font-size: 12pt
  margin: 0 0 0 2rem;
  text-align: left;
}

#sparx {
  color: black;
  font-size: 60pt;
  margin: 0 0 0 2rem;
  text-align: left;
}

#content {
  text-align:left;
  clear: both;
  margin: 1rem 5rem;
}
