<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta name="author" content="functor" />
  <meta name="description" content="{{ site.description }}" />

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/mommy.css" type="text/css" media="screen, projection" />

  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  <link media="only screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
  <link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel='stylesheet' type='text/css'>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18936522-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>

    <center>
    <br>
    <section class="meta">
      <table>
	<tr>
	  <td>
	    <img src="/images/SIL_robot.png" height="220px">
	  </td>
	  <td align="center">
	    <p style="color: #ca0813; font-size: 10pt">Staples</font> <br> 
	    <p style="color:   black; font-size: 50pt">Staples</font> <br> 
	  </td>
	  </tr>
	</table>
    </section>

  <div id="banner-wrap">
        <div class="container">
            <div id="banner">
            
                <div class="wsite-header"></div>
				<div class="corner-left"></div>
				<div class="corner-right"></div>
                
                <div style="clear:both;"></div>
            </div><!-- end banner -->
        </div><!-- end container -->
    </div><!-- end banner-wrap -->


 <div id="main-wrap">
        <div class="container">
   			<div id='wsite-content' class='wsite-elements wsite-not-footer'>
<h2 class="wsite-content-title" style="text-align:center;"><font size="6"><strong>Applied artificial intelligence. At scale.</strong><br /></font><br /></h2>

<div><div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -15px'>
<table class='wsite-multicol-table'>
<tbody class='wsite-multicol-tbody'>
<tr class='wsite-multicol-tr'>
<td class='wsite-multicol-col' style='width:90%;padding:0 15px'>

  <div class="paragraph" style="text-align:left;">Staples is the world's second largest eCommerce player. No problem is trivial. At the Innovation Lab, we're pushing the envelope to take things to the next level.<br /><br /><strong>Big data, machine learning, predictive modeling, search, real-time &nbsp;distributed systems.</strong><br /><br />Challenging problems for talented individuals. We're looking for Clojure engineers, data scientists, devops, product managers, and QA engineers.<br /><br />Get in touch at <a href="mailto:careers@stapleslabs.com" title="">careers@stapleslabs.com</a><br /><br /><em><font color="#626262">We're located at: 2 W 5th Ave, 3rd Floor, San Mateo, CA 94402.</font></em></div>

</td>
<td class='wsite-multicol-col' style='width:10%;padding:0 15px'>

<div style="text-align:center;"><div style="height: 40px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-highlight" href="/join-us.html" >
</a>
<div style="height: 10px; overflow: hidden;"></div></div>

  {{ content }}
</body>
</html>
