<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name=“viewport” content="initial-scale=1.0">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta name="author" content="functor" />
  <meta name="description" content="{{ site.description }}" />

  <link rel="stylesheet" href="/css/sparx.css" type="text/css" media="screen, projection" />

</head>

<body>

<div id="header">
  <img id="logo" src="/images/SIL_robot.png" height="220px">
  <div id="staples" style="color: #ca0813; font-size: 12pt">Staples</div>
  <div id="sparx" style="color:   black; font-size: 60pt">SparX</div>
</div>

<div id="content">
  {{ content }}
</div>

</body>
</html>
