<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name=“viewport” content="initial-scale=1.0">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta name="author" content="functor" />
  <meta name="description" content="{{ site.description }}" />

  <link rel="stylesheet" href="/css/sparx.css" type="text/css" media="screen, projection" />

</head>

<body id="homepage">

<table id="header">
  <tr>
    <td width="120px">
      <img id="logo" src="/images/SIL_robot.png" width="120px">
    </td><td>
      <div id="staples">Staples</div>
      <div id="sparx">SparX</div>
    </td>
  </tr>
</table>

<div id="content">
  {{ content }}
</div>

</body>
</html>
